src/noderedflows/noderedfloes.json
[
    {
        "id": "c352a1a09d4a3de9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5fc0bbbda5961042",
        "type": "mqtt out",
        "z": "c352a1a09d4a3de9",
        "name": "Controle de Direção e Parada",
        "topic": "carrinho/controle/direcao_e_parada",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f53519c36d961a51",
        "x": 530,
        "y": 540,
        "wires": []
    },
    {
        "id": "d5c83153f5a468a9",
        "type": "mqtt out",
        "z": "c352a1a09d4a3de9",
        "name": "Controle de Velocidade Máxima",
        "topic": "carrinho/controle/velocidade_max",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f53519c36d961a51",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "51600d854a78e12a",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": " ",
        "group": "694b13bf8f7e87da",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "    ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f6fb0ebcb7ce5443",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": "",
        "group": "694b13bf8f7e87da",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Frente",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "f",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "5fc0bbbda5961042"
            ]
        ]
    },
    {
        "id": "8cbb2eb9a33bf577",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": " ",
        "group": "694b13bf8f7e87da",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": " ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b89520b01c4dd454",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": "",
        "group": "694b13bf8f7e87da",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Esquerda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "e",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 60,
        "y": 520,
        "wires": [
            [
                "5fc0bbbda5961042"
            ]
        ]
    },
    {
        "id": "b034c62de3ea459a",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": "",
        "group": "694b13bf8f7e87da",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Parar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "p",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "5fc0bbbda5961042"
            ]
        ]
    },
    {
        "id": "4e83ef1f66487c51",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": "",
        "group": "694b13bf8f7e87da",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Direita",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "d",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "5fc0bbbda5961042"
            ]
        ]
    },
    {
        "id": "789b498233dd01ba",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": " ",
        "group": "694b13bf8f7e87da",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": " ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e20da4d92b2f742e",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": "",
        "group": "694b13bf8f7e87da",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Ré",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "r",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "5fc0bbbda5961042"
            ]
        ]
    },
    {
        "id": "7636ddaf52add3e4",
        "type": "ui_button",
        "z": "c352a1a09d4a3de9",
        "name": " ",
        "group": "694b13bf8f7e87da",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": " ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d66c728babb98c5d",
        "type": "ui_slider",
        "z": "c352a1a09d4a3de9",
        "name": "",
        "label": "Velocidade Máxima",
        "tooltip": "",
        "group": "8b43cf083a6b8cbc",
        "order": 9,
        "width": "6",
        "height": "3",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "d5c83153f5a468a9",
                "263fe7589af74f88"
            ]
        ]
    },
    {
        "id": "263fe7589af74f88",
        "type": "ui_gauge",
        "z": "c352a1a09d4a3de9",
        "name": "",
        "group": "8b43cf083a6b8cbc",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade",
        "label": "PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 230,
        "y": 760,
        "wires": []
    },
    {
        "id": "f53519c36d961a51",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "694b13bf8f7e87da",
        "type": "ui_group",
        "name": "Controle de Direção e Parada",
        "tab": "114272dfa5beb861",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "Controle"
    },
    {
        "id": "8b43cf083a6b8cbc",
        "type": "ui_group",
        "name": "Controle De Velocidade Máxima",
        "tab": "114272dfa5beb861",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "114272dfa5beb861",
        "type": "ui_tab",
        "name": "Carrinho",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]